# 1. Ignoruj absolutnie wszystko
*

# 2. Pozwól Gitowi wchodzić do folderów
!*/

# 3. Zezwól na niezbędne pliki źródłowe i projektowe
!*.vhd
!*.xpr
!*.xdc
!*.bd
!*.xci
!.gitignore

# 4. BEZWZGLĘDNIE ignoruj foldery robocze i generowane przez Vivado
*.cache/
*.runs/
*.sim/
*.gen/
*.ip_user_files/
*.hw/
.Xil/
